:root {
    --primary-color: #8f2d56;
    --primary-light: color-mix(in srgb, var(--primary-color) 30%, black);
    --dark-bg: #111111;
    --dark-card: #1a1a1a;
    --text-light: #ffffff;
    --text-gray: #a0a0a0;
    --border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}