.container {
    width: 100%;
}

.content {
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    gap: 20px; 
}

.text-content,
.img {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.img {
    overflow: hidden;
    width: 500px;
    height: 500px;
    margin-top: 20px;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    object-position: 75% 15%;
    border-radius: 100%;
}

.round{
    background-color: var(--vert);
    width: 20px;
    height: 20px;
    border-radius: 100% !important;
    z-index: 10;
}